html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}
h2,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}
p {
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
}
button {
  border: none;
  background-color: transparent;
  padding: 0;
}
@font-face {
  font-family: "TTLakes";
  font-style: normal;
  font-weight: 400;
  src: local("TTLake"),
    url("fonts/TTLakes/TTLakes-Regular.woff") format("woff");
}

body {
  font-family: "TTLakes", sans-serif;
  color: #7e7e82;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  margin: 0;
  padding: 0;
}

.container {
  min-width: 320px;
  margin: 0 auto;
}

.slider__title {
  display: flex;
  text-transform: uppercase;
  height: 80px;
  justify-content: start;
  align-items: center;
  padding: 0 16px;
}

.swiper {
  background-color: #f2f2f2;
  padding: 0 8px;
}
.slider__show,
.slider__show-tablet,
.slider__hide {
  display: none;
}
.swiper-slide {
  display: flex;
  overflow: hidden;
  justify-content: space-between;

  background-color: #fff;
  width: 240px !important;
  height: 72px;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  margin: 16px 8px 8px 8px;
}

.slider__logo {
  width: auto !important;
  align-self: center;
  padding-left: 16px;
}

.slider__go {
  padding: 16px 16px 0 0;
}

.swiper-pagination {
  position: static;
  margin-bottom: 30px;
}

.swiper-pagination-bullet {
  background-color: #dddddd;
}

.swiper-pagination-bullet-active {
  background-color: #b5b6bc;
}

/* //////////////////////////////////////////////////////////////////////*/

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
  .slider__title {
    height: 56px;
    padding: 0 24px;
    background: linear-gradient(90deg, #f8f8f8 1.39%, #ffffff 100%);
  }
  .swiper {
    padding: 24px 0 0 24px;
    height: 276px;
    overflow: hidden;
    padding-bottom: 78px;
  }

  .swiper--open {
    height: 435px;
    overflow: visible;
  }

  .swiper-wrapper {
    margin-bottom: 82px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 24px;
  }

  .swiper-slide {
    width: 224px !important;
    margin: 0;
  }

  .swiper-slide:nth-child(3n) {
    margin-right: 0;
  }
  .slider__show-tablet {
    display: block;
    color: #1b1c21;
    font-weight: 500;
    margin-right: 400px;
    margin-top: 8px;
    margin-bottom: 34px;
  }

  .slider__show-tablet--disable {
    display: none;
  }
  .show::before {
    content: url(images/show.svg);
    vertical-align: middle;
    margin-right: 9px;
  }

  .slider__hide {
    position: absolute;
    bottom: -70px;
    left: 0;
    display: none;
    font-weight: 500;
    color: #1b1c21;
  }

  .slider__hide::before {
    content: url(images/hide.svg);
    vertical-align: middle;
    margin-right: 9px;
  }

  .slider__hide--active {
    display: block;
  }
}

/*///////////////////////////////////////////////////////// */

@media (min-width: 1124px) {
  .container {
    width: 1124px;
  }
  .sliider__title {
    padding: 0 32px;
  }

  .slider__show-tablet {
    display: none;
  }

  .slider__title {
    background: linear-gradient(270deg, #f8f8f8 0%, #ffffff 98.61%);
  }

  .swiper {
    padding-left: 32px;
    padding-right: 30px;
    height: 266px;
    padding-bottom: 98px;
    overflow: hidden;
  }

  .swiper--open {
    height: 348px;
  }

  .swiper-wrapper {
    column-gap: 32px;
  }

  .swiper-slide {
    width: 240px !important;
  }

  .slider__show {
    display: block;
    margin-right: 800px;
    margin-top: 8px;
    margin-bottom: 34px;
    font-weight: 500;
    color: #1b1c21;
  }

  .slider__show--disable {
    display: none;
  }

  .slider__hide {
    display: none;
    bottom: -94px;
  }
  .slider__hide--active {
    display: block;
  }
}
