html {
    box-sizing: border-box;
    
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  a{
text-decoration: none;  
color: inherit;
}
p{
    margin: 0;
}
img {
    max-width: 100%;
    height: auto;
   
   }

  @font-face {
    font-family: "TTLakes";
    font-style: normal;
    font-weight: 400;
    src: local("TTLake"),
         url("/fonts/TTLakes/TTLakes-Regular.woff") format("woff"),
        
  }

     body {
        font-family: "TTLakes", sans-serif;
        color: #1B1C21;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2px;
        margin: 0;
        padding: 0;
      }

.container{
    min-width: 320px;
    margin: 0 auto;
   }

.header {
display: flex;
justify-content: space-between;
align-items: center;
height: 88px;
border-bottom: 1px solid #D9FFF5;
padding: 0 16px;
}
.header__contacts{
  display: none;
}


.header__menu{
  display: flex;
  }

  .header__burger{
    margin-right: 17px;
    align-self: center;
  }

.header__servise {
  display: flex;
  justify-content: space-between;
  width: 96px;
position: relative;
}


.header__servise span{
  display: none;
}

.servise::before{
position: absolute;
content: '';
width: 2px;
height: 32px;
background-color: #EAEAEA;
border-radius: 1px;
bottom: 6px;
left: -20px;
}

.description{
  background-color: #F8F8F8;
  padding-bottom: 35px;
}

.title{
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  color: #1B1C21;
  position: relative;
  margin: 0;
  padding: 0 16px;
 }

.title::before{
content: '';
position: absolute;
left: 0;
top: 24px;
width: 4px;
height: 40px;
background: #41F6D7;
border-top-right-radius: 30px;
border-bottom-right-radius: 30px;
}

.description__title{
  margin-bottom: 24px;
  padding-top: 24px;
}

.main-nav{
  display: flex;
font-size: 16px;
line-height: 24px;
letter-spacing: -0.2px;
color: #7E7E82;
overflow-x: scroll;
white-space: nowrap;


}

.main-nav__item{
  height: 40px;
padding: 8px 16px;
margin-right: 16px;
}

.main-nav__item:last-child{
  margin-right: 0;
}

.main-nav__item.active{
  background: #FFFFFF;
  border: 2px solid #B8FFEC;
  border-radius: 6px;
  
}

.description__main-nav{
  padding: 0 16px;
  margin-bottom: 24px;
}

.description__text{
  text-align: left;
  padding: 0 16px;
  height: 130px;
  overflow: hidden;
  margin-bottom: 16px;
  }


.description__button_2, .description__button_3{
display: none;

}

.read-more-btn{
border: none;
background-color: transparent;
font-size: 16px;
line-height: 24px;
letter-spacing: -0.2px;
color: #1B1C21;
background-image: url(./images/icon_btn.png);
background-repeat: no-repeat;
background-position: 8px center;
width: 132px;
height: 24px;
text-align: end;
}

.description__button_1{
margin-top: 16px;

}


.description__image{
  width: 100%;
}


/* //////////////////////////////////////////////////////////////////////*/


@media (min-width: 768px)

{
  .header{
    padding: 0 24px;
  }
.header__burger{
margin-right: 43px;
position: relative;
}
.header__burger:before{
  position: absolute;
content: '';
width: 2px;
height: 32px;
background-color: #EAEAEA;
border-radius: 1px;
bottom: 6px;
left: 60px;
}

.servise {
  margin-left: 42px;
}

.header__links{
  display: flex;
}
.header__contacts{
  display: flex;
}

.header__message, .header__profile{

  margin-left: 16px;
}
.description__title{
  padding-left: 24px;
  padding-right: 24px;
}



.description__main-nav{
  padding: 0 24px;
}
.description__content{
display: flex;
padding: 0 24px 0 8px;
}

.description{
  padding-bottom: 40px;
}

.description__text{
  padding-right: 58px;
  padding-left: 24px;
  height: 194px;
  overflow: hidden;
  line-height: 20px;
   }

   .description__text p{
margin-bottom: 30px;

   }
.description__button_1, .description__button_3{
  display: none;
    }

.description__button_2{
      display: block;
      margin-top: 10px;
    margin-bottom: 14px;
      }
  
 .description__main-nav{
        padding: 0 24px;
        margin-bottom: 32px;
      }     
}

/* ////////////////////////////////////////////////////////////////// */

@media (min-width: 1120px){

  .header{
    display: flex;
    justify-content: end;
    align-items: start;
    height: 1px;
    position: relative;
    }

.header__menu, .header__contacts{
  display: none;
  
}

.header__servise{
display: flex;
justify-content: space-between;
width: 333px;
position: absolute;
top: 42px;
right: 32px;
}
.header__servise span{
display: block;
margin-right: 8px;
}

.servise__repair{
display: flex;
align-items: center;

 
}

.servise__check{
  display: flex;
  align-items: center;
   
  }

  .servise::before{
    display: none;
  }

.description__title{
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 42px;
  margin-bottom: 8px;
}

.title::before {
   top: 40px;
}

.main-nav{
  display: flex;
  flex-wrap: wrap;
 height: 82px;
 overflow: hidden;
}

.main-nav__item {
  padding: 8px 22px;
  margin-right: 0;
}

.description__main-nav{
  padding-right: 25px;
  padding-left: 32px;
margin-bottom: 0;
}

.description__button_1, .description__button_2{
  display: none;
    }

    .description__content{
padding-left: 32px;
padding-right: 28px;

    }

    .description__text{
      padding-right: 36px;
      padding-left: 0;
      padding-top: 16px;
      height: 225px;
     }

    .description__image{
     min-width: 530px;
    }

.description__button_3{
      display: block;
      margin-top: 14px;
           }



}
